.profile-container {
  width: 40% !important;
  margin: 50px auto;
}
.profile-picture {
  margin-left: 20px;
  height: 100px;
  width: 100px;
}
@media only screen and (max-width: 666px) {
  .profile-container {
    width: 95%;
  }
}
